@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h5>Choose category to create the test</h5>

    <div class="row m-4">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a asp-controller="Country" asp-action="List" class="btn btn-primary" role="button">Country</a>
            </li>
        </ul>
    </div>
</div>
