@if(isForm) {
    <div class="row m-2">
        <div class="col-4 col-sm-5 col-md-4"> Choose continents: </div>
        
        <div class="col-5 col-sm-6 col-md-5">
            <app-checkbox-list
                [formControl]="generateExamForm.controls.Continents"
                [checkboxes]="continentCheckbox.continentCheckoboxes"
                [inOneLine]="inOneLine"
                (changeCheckForCheckboxesEvent)="updateContinentChecboxes($event)"
            />
        </div>
    </div>
} @else {
    <app-checkbox-list
        [checkboxes]="continentCheckbox.continentCheckoboxes"
        [inOneLine]="inOneLine"
        (changeCheckForCheckboxesEvent)="updateContinentChecboxes($event)"
    />
}
