@*
    @model RandomQuestionViewModel


    <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
                <label for="Questions[@Model.NumberQuestion]" class="form-label">@Model.QuestionText</label>
                <input type="text" class="form-control" id="Question[@Model.NumberQuestion]" rows="3"/>
            </div>
        </div>
    </div>
*@