@model KeepLearning.Domain.Country.Countries

@{
    ViewData["Title"] = "List";
}


@if (!Model.ListOfCountry.Any())
{

    <h1>Not find any contry</h1>
}
else
{
    <h1>Countries</h1>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item m-3">
                        <a class="btn btn-primary" asp-area="" asp-controller="Question" asp-action="CreateTest">Create test</a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="btn btn-primary" asp-area="" asp-controller="Question" asp-action="Create">Random question</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <div>Name</div>
                </th>
                <th>
                    <div>Capital city</div>
                </th>
                <th>
                    <div>Continent</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListOfCountry)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CapitalCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Continent)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
