@if (countries.length < 1) {
    <h1>Not find any country</h1>
} @else {
    <h1>Countries</h1>
    
    <nav>
        <button 
            [routerLink]="['/country/generateExam']" 
            [queryParams]="{continentsChecked}" 
            class="btn btn-lg btn-outline-primary m-2"
        >
            Generate exam
        </button>
        <button
            [routerLink]="['/country/generateQuestion']" 
            [queryParams]="{continentsChecked}" 
            class="btn btn-lg btn-outline-primary m-2"
        >
            Generate random question
        </button>
    </nav>
    
    <hr />

    <app-continents-checkbox 
        [inOneLine]="true"
        [isForm]="false"
        [continentsChecked]="continentsChecked"
        (updateCheckoboxesEvent)="getCheckedContinents($event)"
    />

    <hr />
    
    <app-country-table-component [countries]="this.countries"/>
}
