<form [formGroup]="checkExamForm" (ngSubmit)="onSubmit()">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ questionCategory }}</th>
                <th scope="col">{{ answerCategory }}</th>
            </tr>
        </thead>
        <tbody formArrayName="Answers">
            @for (question of answerControls; let i= $index; track i) 
            {
                <tr formGroupName="{{i}}">
                    <td>
                        {{ question.get('NumberOfQuestion')?.value }}
                    </td>
                    <td>
                        {{ question.get('QuestionText')?.value }}
                    </td>
                    <td>
                        <input 
                            type="text"
                            class="form-control"
                            placeholder="Type answer"
                            formControlName="AnswerText"
                        >
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row m-4">
        @if(isChecked) {
            <div class="col-xs-10 col-sm-8 col-md-4 col-lg-3 m-2">
                <div>Corect answers: <span class="CorrectAnswers"></span></div>
                <div>Incorrect answers: <span class="IncorrectAnswers"></span></div>
            </div>
        } @else {
            <div class="col-xs-10 col-sm-8 col-md-4 col-lg-3 m-2">
                <button class="btn btn-outline-success col-sm-10">Check answers</button>
            </div>
        }
    </div>
</form>